:root {
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background: black;
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* * {
    border: solid white 2px;
} */

header .logo {
    height: 100%;
}

main {
    padding: 20px;
    display: grid;
    grid-template-rows: 5% 25% 5% 45% 45% 5%;
    background-color: black;
}

.nav {
    display: grid;
    grid-template-columns: 72% 7% 7% 7% 4.5% 4.5%;
    color: white;
    font-size: 0.8rem;
    font-family: Arial, sans-serif;
}

.iconDots {
    line-height: 12px;
    padding-top: 5px;
}

.textLinks {
    padding-top: 17px;
}

.title {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    font-size: 5rem;
    font-family: 'Futura';
    font-weight: lighter;
    color: white;
}

.searchBar {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 300px;
    padding-top: 18px;
    color: red;
}

input {
    border-radius: 20px;
    width: 26rem;
    height: 2.2rem;
    border: 0;
}

.listOne {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    color: white;
    padding-top: 40px;
}

.listTwo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    color: white;
}

.user {
    background-color: white;
    border-radius: 20px;
    width: 34px;
    height: 34px;
    color: black;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: large;
}

.button {
    display: flex;
    justify-content: right;
    padding: 40px;
}

button {
    width: 170px;
    height: 30px;
    border-radius: 18px;
    border: 0;
    background-color: rgb(44, 44, 44);
}
